<!--<div id="aboutconsole" style="display: none">-->
  <!--<div class="toolbar" style="display: none">-->
    <!--<div class="title">-->
      <!--<span class="title-console">~</span>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="editarea" style="display: none">-->
    <!--<pre>Welcome! Please type 'help' for assistance and press enter to submit commands.</pre>-->
    <!--<pre id="inputline" class="input">> <input type="text" name="command" id="commandinput" maxlength="20"></pre>-->
  <!--</div>-->
<!--</div>-->
<img src="https://flic.kr/p/o794Xr"/>
<canvas id="index_canvas" width="auto" height="200"></canvas>
<!--<canvas id="index_canvas" width="578" height="200">Your browser does not support the canvas element.</canvas>-->