/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    background-color: #e5e5e5;
    background-image: url(/assets/bg.png)
}

.nav li a {
    font-size: 18px;
}
a:hover:not(.btn), a:active:not(.btn){
    color: #9E0000;
    text-decoration: none;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}
a:not(.btn) {
    color: #00699E;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
    transition-property: initial;
    transition-duration: 300ms;
    transition-timing-function: initial;
    transition-delay: initial;
}

.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus {
    color: #fff;
    background-color: #111;
}

